script.
	var _hmt = _hmt || [];(function() {
	var hm = document.createElement("script");
	hm.src = "https://hm.baidu.com/hm.js?0d26b429e7de67ec752769c8390751ae";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hm, s);
	})();
script.
	console.log('Need Developers Join Us On MeetUGo. Add Wechat: 15113329408 ')
script(src='https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js')
script(src='https://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js')
script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name='keywords',content='event,meetup,social,calendar,blockchain,media')
meta(itemprop='image', content='/favicon.png')
link(rel='shortcut icon', href='/favicon.ico')
link(href='http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css', rel='stylesheet')
link(href='https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')