extends ../../layouts/defaultlight

//-block flash-messages
	//- intentionally blank

block intro
		div(style='background:orange;position:fixed;width: 100%;z-index:20; height: 50px')
			div(style='width: 20px;padding-left:15px;padding-top:15px')
				a(href='#' onClick='javaScript:history.back(-1)', style='color:white ')
					i.fa.fa-arrow-left(style='font-size:25px ')
		div(style='height:60px')


block content
	.container(style='margin-top:20px')
		.panel(style='border-color:orange')
			//- Default panel contents
			.panel(style='background:orange;height:70px')
				h3(style='color:white;text-align:center') Forgot Password?
			.panel-body
				.col-md-4
					form(role='form', action='/forgot-password', method='post')
						.form-group
							label.control-label(for='email') Email address:
							.input-icon
								input#email.form-control.email(placeholder='you@mail.com', name='email', type='email', value='')
						.form-group
							input.btn(style='background:orange;color:white')(type='submit', value='Reset My Password')
						a(href='/setting')
							p(style='color:black') Signin