extends ../../layouts/defaultlight

//-block flash-messages
	//- intentionally blank
block intro
		div(style='background:orange;position:fixed;width: 100%;z-index:20; height: 50px')
			div(style='width: 20px;padding-left:15px;padding-top:15px')
				a(href='/setting', style='color:white ')
					i.fa.fa-arrow-left(style='font-size:25px ')
		div(style='height:60px')


block content
	.container(style='margin-top:20px')
		.panel(style='border-color:orange')
			//-Default panel contents
			.panel(style='background:orange;height:70px')
				h3(style='color:white;text-align:center') Reset My Password
			.panel-body
				.col-md-4
					form(role='form', action='/reset-password', method='post')
						input(type='hidden', name='resetkey', value = key)
						input(type='hidden', name='_csrf', value = csrf_token_value)
						.form-group
							abel.control-label(for='password') Password:
							.input-icon
								input#password.form-control.email(name='password', type='password', value='')
						.form-group
							label.control-label(for='password_confirm') Confirm Password:
							.input-icon
								input#password_confirm.form-control(name='password_confirm', type='password', value='')
						.form-group
							input.btn(style='background:orange;color:white')(type='submit', value='Reset')
