extends ../../layouts/default

//-block flash-messages
	//- intentionally blank

block content
	.container
		.panel.panel-primary
			//- Default panel contents
			.panel-heading Forgot Password?
			.panel-body
				.col-md-4
					form(role='form', action='/forgot-password', method='post')
						.form-group
							label.control-label(for='email') Email address:
							.input-icon
								input#email.form-control.email(placeholder='you@mail.com', name='email', type='email', value='')
						.form-group
							input.btn.btn-primary(type='submit', value='Reset My Password')