block body-contents
    h1 Hi #{first_name},
    p.text-larger We would like to verify your EmailID to enroll you on #{brand}.
    p.text-larger click&nbsp;
        a(href='#{link}') 
            strong this link
        |  &nbsp; to complete this verification.